<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Accueil Imputation</title>
    <link rel="shortcut icon" href="../static/atos-globe-blue-high-res.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/accueil_global"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Gestion de Projet MS4 SUPV</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_archives">Données d'imputation</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_collab">Collaborateurs</a>
                </li>
                <li class="list-inline-item">
                    <a data-bs-toggle="modal" data-bs-target="#scr" class="nav-link" href="/">SCR</a>
                </li>
                <div class="modal fade" id="scr" tabindex="-1" aria-hidden="true"
                     aria-labelledby="scr">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white">Choisissez les années à montrer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form style="text-align:center; margin: 20px " action="/see_scr" method="post">
                                    <label class="form-label text-primary" style="font-weight:bold;">Année
                                        début
                                        :</label>
                                    <select class="form-select bg-light text-primary" name="anneeD">
                                        <option value="2021">2021</option>
                                        <option selected value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>

                                    </select>
                                    <br>

                                    <label class="form-label text-primary" style="font-weight:bold;">Année
                                        fin
                                        :</label>
                                    <select class="form-select bg-light text-primary" name="anneeF">
                                        <option value="2021">2021</option>
                                        <option selected value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                    </select>
                                    <br>
                                    <button style="font-weight:bold;" align="center"
                                            class="btn border border-white btn-primary"
                                            name="button">Voir les SCR
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_boncomm">Activités</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_global">Imputations globales</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_conges">Congés</a>
                </li>
                {% for collab in data_navbar %}
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_collab/{{collab[1].id_collab}}/{{annee}}/{{mois}}">{{collab[0]}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
</head>
<section class="my-5">
    <div style="text-align:center">
        <body>
        <h1 style="margin-bottom: 30px" class="text-primary">- Imputation MS4 : Accueil -</h1>
        </body>
        <div class="bg-light border border-3 border-primary rounded mt-2"
             style="margin: 20px; margin-right:20px; margin-bottom: 20px">
            <div style="margin-left: 20px">
                <h5 style="margin-top: 5px; text-align: center" class="text-primary">Bienvenue sur le suivi des
                    imputations de l'équipe MS4 SUPV.<br>Pour imputer sur le mois en cours,
                    cliquez sur votre nom dans la barre de navigation <br> Pour créer un BC ou un Collaborateur, cliquer
                    sur l'onglet de la barre de navigation pour accéder à la page dédiée.
                    <h5 class="text-danger" style="text-align: center">Mois en cours : {{moisStr}} / {{annee}}</h5></h5>
            </div>
        </div>
        <div align="center"><h5 class="text-danger">{{resultat}}</h5></div>
        <br>
        <button style="font-weight:bold; text-align:center;background-image: var(--bs-gradient);" type="button"
                class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#exportexcel">
            Exporter sur excel
        </button>
        <div class="modal fade" id="exportexcel" tabindex="-1" aria-hidden="true"
             aria-labelledby="exportExcel">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h5 class="modal-title">Choisissez le mois</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/export_excel" method="post">
                            <label class="form-label" style="font-weight:bold;" for="mois">Mois :</label>
                            <select class="form-select" name="mois" id="mois">
                                <option selected value="1">Janvier</option>
                                <option value="2">Février</option>
                                <option value="3">Mars</option>
                                <option value="4">Avril</option>
                                <option value="5">Mai</option>
                                <option value="6">Juin</option>
                                <option value="7">Juillet</option>
                                <option value="8">Août</option>
                                <option value="9">Septembre</option>
                                <option value="10">Octobre</option>
                                <option value="11">Novembre</option>
                                <option value="12">Décembre</option>
                            </select>
                            <br>
                            <label class="form-label" style="font-weight:bold;" for="annee">Année :</label>
                            <select class="form-select" name="annee" id="annee">
                                <option value="2021">2021</option>
                                <option selected value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>

                            </select>
                            <br>
                            <button name="button" style="font-weight:bold;" class="btn btn-warning">Exporter sur excel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>function calculjoursthq(){
                            var caAtos = parseFloat(document.getElementById("formulaire").elements["caAtos"].value);
                            var tjm = parseFloat(document.getElementById("formulaire").elements["tjm"].value);
                            var jAllouesThq= caAtos / tjm;
                            document.getElementById("formulaire").elements["jourThq"].value=jAllouesThq;
                            document.getElementById("formulaire").elements["partGDP"].value = jAllouesThq*0.2;}




</script>
</html>