<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/atos-globe-blue-high-res.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>Accueil</title>
    <nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Gestion de Projet MS4 SUPV</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/accueil_imputation">Imputations MS4</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/accueil_marcheMS4">Marché MS4</a>
                </li>
                <li class="list-inline-item">
                    <a data-bs-toggle="modal" data-bs-target="#horsMs4" class="nav-link" href="/">Imputations DP</a>
                </li>
                <div class="modal fade" id="horsMs4" tabindex="-1" aria-hidden="true"
                     aria-labelledby="horsMS4">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white">Choisissez le collaborateur</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form style="text-align:center; margin: 20px " action="/see_archives_collab"
                                      method="post">
                                    <label class="form-label text-primary" style="font-weight:bold;" for="collab">Collaborateur
                                        :</label>
                                    <select class="form-select bg-light text-primary" name="collab" id="collab"
                                            style="">
                                        <{% for collab in collabs %}
                                        <option name="{{collab.id_collab}}" value="{{collab.id_collab}}">
                                            {{collab.nom}}
                                        </option>
                                        {% endfor %}>
                                    </select>
                                    <br>
                                    <label class="form-label text-primary" style="font-weight:bold;" for="mois">Mois
                                        :</label>
                                    <select class="form-select bg-light text-primary" name="mois" id="mois">
                                        <option selected value="1">Janvier</option>
                                        <option value="2">Février</option>
                                        <option value="3">Mars</option>
                                        <option value="4">Avril</option>
                                        <option value="5">Mai</option>
                                        <option value="6">Juin</option>
                                        <option value="7">Juillet</option>
                                        <option value="8">Août</option>
                                        <option value="9">Septembre</option>
                                        <option value="10">Octobre</option>
                                        <option value="11">Novembre</option>
                                        <option value="12">Décembre</option>
                                    </select>
                                    <br>
                                    <label class="form-label text-primary" style="font-weight:bold;" for="anneeCollab">Année
                                        :</label>
                                    <select class="form-select bg-light text-primary" name="annee" id="anneeCollab">
                                        <option value="2021">2021</option>
                                        <option selected value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>

                                    </select>
                                    <br>
                                    <button style="font-weight:bold;" class="btn border border-white btn-primary"
                                            name="button">Accéder à cette
                                        imputation
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="list-inline-item">
                    <a data-bs-toggle="modal" data-bs-target="#suiviConso" class="nav-link" href="/">SSQ Suivi Conso</a>
                </li>
                <div class="modal fade" id="suiviConso" tabindex="-1" aria-hidden="true"
                     aria-labelledby="suiviConso">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white">Choisissez les dates à montrer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form style="text-align:center; margin: 20px " action="/see_suivi_conso" method="post">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-label text-primary" style="font-weight:bold;"
                                                       for="moisD">Mois début
                                                    :</label>
                                                <select class="form-select bg-light text-primary" name="moisD"
                                                        id="moisD">
                                                    <option selected value="1">Janvier</option>
                                                    <option value="2">Février</option>
                                                    <option value="3">Mars</option>
                                                    <option value="4">Avril</option>
                                                    <option value="5">Mai</option>
                                                    <option value="6">Juin</option>
                                                    <option value="7">Juillet</option>
                                                    <option value="8">Août</option>
                                                    <option value="9">Septembre</option>
                                                    <option value="10">Octobre</option>
                                                    <option value="11">Novembre</option>
                                                    <option value="12">Décembre</option>
                                                </select>
                                                <br>
                                                <label class="form-label text-primary" style="font-weight:bold;"
                                                       for="moisF">Mois fin
                                                    :</label>
                                                <select class="form-select bg-light text-primary" name="moisF"
                                                        id="moisF">
                                                    <option selected value="1">Janvier</option>
                                                    <option value="2">Février</option>
                                                    <option value="3">Mars</option>
                                                    <option value="4">Avril</option>
                                                    <option value="5">Mai</option>
                                                    <option value="6">Juin</option>
                                                    <option value="7">Juillet</option>
                                                    <option value="8">Août</option>
                                                    <option value="9">Septembre</option>
                                                    <option value="10">Octobre</option>
                                                    <option value="11">Novembre</option>
                                                    <option value="12">Décembre</option>
                                                </select>
                                                <br>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label text-primary" style="font-weight:bold;"
                                                       for="anneeD">Année début
                                                    :</label>
                                                <select class="form-select bg-light text-primary" name="anneeD"
                                                        id="anneeD">
                                                    <option value="2021">2021</option>
                                                    <option selected value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                    <option value="2027">2027</option>
                                                    <option value="2028">2028</option>
                                                    <option value="2029">2029</option>
                                                    <option value="2030">2030</option>

                                                </select>
                                                <br>
                                                <label class="form-label text-primary" style="font-weight:bold;"
                                                       for="anneeF">Année fin
                                                    :</label>
                                                <select class="form-select bg-light text-primary" name="anneeF"
                                                        id="anneeF">
                                                    <option value="2021">2021</option>
                                                    <option selected value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                    <option value="2027">2027</option>
                                                    <option value="2028">2028</option>
                                                    <option value="2029">2029</option>
                                                    <option value="2030">2030</option>
                                                </select>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <button style="font-weight:bold;" align="center"
                                            class="btn border border-white btn-primary"
                                            name="button">Accéder au suivi conso
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="list-inline-item">
                    <a data-bs-toggle="modal" data-bs-target="#prodAnnee" class="nav-link" href="/">Production
                        annuelle</a>
                </li>
                <div class="modal fade" id="prodAnnee" tabindex="-1" aria-hidden="true"
                     aria-labelledby="prodAnnee">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white">Choisissez l'année à montrer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form style="text-align:center; margin: 20px " action="/see_prod_annee" method="post">
                                    <label class="form-label text-primary" style="font-weight:bold;"
                                           for="annee">Année à montrer
                                        :</label>
                                    <select class="form-select bg-light text-primary" style="text-align:center;"
                                            name="annee">
                                        <option value="2021">2021</option>
                                        <option selected value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>

                                    </select>
                                    <br>
                                    <button style="font-weight:bold;" align="center"
                                            class="btn border border-white btn-primary"
                                            name="button">Accéder à la production sur cette année
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="list-inline-item">
                    <a class="nav-link" href="/accueil_booster">Suivi Booster</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>
<h1 style="margin-bottom: 30px; text-align:center; margin-top: 30px;" class="text-primary">- Accueil : MS4 SUPV -</h1>
<div class="bg-light border border-3 border-primary rounded mt-2"
     style="margin: 20px; margin-right:20px; margin-bottom: 30px">
    <div style="margin-left: 20px">
        <h5 style="margin-top: 5px; text-align: center" class="text-primary">Bienvenue sur l'accueil<br>Vous pouvez
            accéder à la section que vous cherchez en cliquant sur l'icône associée ci-dessous
        </h5>
    </div>
</div>
<div style="text-align:center">
    <a id="link" class="btn btn-primary" href="/init_db"
       style="margin-left:10px; font-weight:bold;text-align:center;background-image: var(--bs-gradient);">
        Vider la BDD</a>
    <br>
    <a class="btn btn-warning"
       style="margin-left:10px; margin-top:20px;font-weight:bold; text-align:center;background-image: var(--bs-gradient); "
       href="/create_fonctions">Créer les fonctions</a>
    <br>
    <button style="margin-top:20px; background-image: var(--bs-gradient); font-weight:bold;" type="button"
            class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#modifpourcent">
        Modifier le pourcentage d'une année
    </button>
    <div class="modal fade" id="modifpourcent" tabindex="-1" aria-hidden="true"
         aria-labelledby="modifPourcent">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">Modifier le pourcentage d'une année</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/modif_pourcent" method="post">
                        <label for="annee">Année :</label>
                        <select class="form-select bg-warning" name="annee" id="annee">
                            <option value="2021">2021</option>
                            <option selected value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>

                        </select>
                        <br>
                        <label for="pourcentage">Pourcentage à appliquer :</label>
                        <input value="0.0" class="form-control bg-warning" type="number" step="0.01" id="pourcentage"
                               name="pourcentage">
                        <br>
                        <button name="button" class="btn btn-warning">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <a class="btn btn-warning"
       style="margin-left:10px; margin-top:20px;font-weight:bold; text-align:center;background-image: var(--bs-gradient); "
       href="/see_data_date">Voir
        les dates</a>
    <br>
    <button style="margin-top:20px; background-image: var(--bs-gradient); font-weight:bold;" type="button"
            class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#modifNbEquipe">
        Modifier la taille de l'équipe sur un mois
    </button>
    <div class="modal fade" id="modifNbEquipe" tabindex="-1" aria-hidden="true"
         aria-labelledby="modifNbEquipe">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Modifier la taille de l'équipe sur un mois</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/modif_nb_equipe" method="post">
                        <label for="annee" style="font-weight:bold;" class="text-primary">Année :</label>
                        <select class="form-select bg-light text-primary" name="annee">
                            <option value="2021">2021</option>
                            <option selected value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                        </select>
                        <br>
                        <label class="form-label text-primary" style="font-weight:bold;"
                               for="mois">Mois :</label>
                        <select class="form-select bg-light text-primary" name="mois">
                            <option value="1">Janvier</option>
                            <option value="2">Février</option>
                            <option value="3">Mars</option>
                            <option value="4">Avril</option>
                            <option value="5">Mai</option>
                            <option value="6">Juin</option>
                            <option value="7">Juillet</option>
                            <option value="8">Août</option>
                            <option value="9">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Décembre</option>
                        </select>
                        <br>
                        <label for="equipe" style="font-weight:bold;" class="text-primary">Nombre de collaborateurs :</label>
                        <input class="form-control bg-light text-primary" type="number" step="1" id="equipe"
                               name="equipe">
                        <br>
                        <button name="button" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>