<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="C:\Users\a857591\Documents\Projet PyCharm\MyApp\static\atos.png"/>
    <nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Imputation MS4</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_archives">Données d'imputation</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_collab">Collaborateurs</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_boncomm">Activités</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_global">Imputations globales</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_conges">Congés</a>
                </li>
                {% for collab in data_navbar %}
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_collab/{{collab[1].id_collab}}/{{annee}}/{{mois}}">{{collab[0]}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
    <br>
    <meta charset="UTF-8">
    <title>Tableau des activités</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
{% block content %}
<br>
<div style="text-align:center; margin-bottom : 20px" class="title"><h1 class="text-primary">- Tableau des activités
    -</h1></div>
<br>
<div class="bg-light border border-3 border-primary rounded mt-2"
     style="margin-left: 20px; margin-right:20px; margin-bottom: 20px">
    <div style="margin-left: 20px; text-align:center;">
        <h5 style="margin-top: 5px" class="text-primary">Ce tableau contient la liste des activités, avec la liste des
            collaborateurs qui imputent sur chacune d'entre elles. <br>
            Pour modifier ou effacer une activité, cliquer sur les boutons associés sur la ligne de l'activité en
            question.
            <h5 class="text-danger">Attention : La suppression d'une activité entraine la suppression des imputations
                des collaborateurs liés à ce bon !</h5></h5>
    </div>
</div>
<h5 style="margin-left: 20px; margin-top: 20px;margin-bottom: 20px" class="text-primary font-italic">Pour enregistrer
    une nouvelle activité, cliquer sur le bouton associé : </h5>
<div class="container">
    <div class="row">
        <div class="col-4">
            <button style="margin-bottom: 20px;background-image: var(--bs-gradient);" type="button"
                    class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#saveboncomm">
                Créer un bon de commande
            </button>
            <div class="modal fade" id="saveboncomm" tabindex="-1" aria-hidden="true"
                 aria-labelledby="saveboncomm">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Créer un BC</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/save_boncomm" id="formulaire" method="post">

                                <label class="form-label text-primary" for="activiteBC">Description du bon de commande
                                    :</label>
                                <input class="text-primary form-control" type="text" id="activiteBC" name="activiteBC"
                                       placeholder="Décrivez l'activité"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="comBC">Commentaire :</label>
                                <input class="text-primary form-control" type="text" id="comBC" name="comBC">
                                <br>
                                <label class="form-label text-primary" for="anneeTarifBC">Année tarifaire :</label>
                                <input class="text-primary form-control" type="number" id="anneeTarifBC"
                                       name="anneeTarifBC" required="required">
                                <br>
                                <label class="form-label text-primary" for="caAtosBC">CA Atos :</label>
                                <input class="text-primary form-control" type="number" id="caAtosBC" name="caAtosBC"
                                       required="required"
                                       onblur="calculjoursthq()">
                                <br>
                                <label class="form-label text-primary" for="tjmBC">Taux Journalier Moyen :</label>
                                <input class="text-primary form-control" type="number" id="tjmBC" name="tjmBC"
                                       placeholder="TJM actuel" value="500"
                                       required="required"
                                       onblur="calculjoursthq()">
                                <br>
                                <label class="form-label text-primary" for="jourThqBC">Jours théoriques alloués
                                    :</label>
                                <input class="text-primary form-control" type="number" id="jourThqBC" name="jourThqBC"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="partGDPBC">Part Gestion de Projet :</label>
                                <input class="text-primary form-control" type="number" id="partGDPBC" name="partGDPBC"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="delaisBC">Délais :</label>
                                <input class="text-primary form-control" type="number" id="delaisBC" name="delaisBC"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="montantHTBC">Montant HT :</label>
                                <input class="text-primary form-control" type="number" id="montantHTBC"
                                       name="montantHTBC" required="required">
                                <br>
                                <label class="form-label text-primary" for="partEGISBC">Part EGIS :</label>
                                <input class="text-primary form-control" type="number" id="partEGISBC" name="partEGISBC"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="numBC">Numéro du bon :</label>
                                <input class="text-primary form-control" type="text" id="numBC" name="numBC"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="posteBC">Poste :</label>
                                <input class="text-primary form-control" type="text" id="posteBC" name="posteBC"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="projetBC">Projet :</label>
                                <input class="text-primary form-control" type="text" id="projetBC" name="projetBC"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="collabsBC">Liste des collaborateurs
                                    concernés :</label>
                                <br>
                                <select class="form-select bg-white text-primary" multiple name="collabsBC"
                                        id="collabsBC">
                                    {% for collab in collabs %}
                                    <option name="{{collab.id_collab}}" value={{collab.id_collab}}>
                                        {{collab.nom}}
                                    </option>
                                    {% endfor %}
                                </select>
                                <br>

                                <label class="form-label text-primary">Répartition des jours (pour les collaborateurs
                                    sélectionnés) :</label>
                                <br>
                                {% for collab in collabs %}
                                <label class="form-label text-primary">{{collab.nom}}</label>
                                <input class="text-primary form-control" onclick="nbJoursAllouables()" type="number"
                                       step="0.5"
                                       id="joursBC{{collab.id_collab}}"
                                       name="joursBC{{collab.id_collab}}">
                                <br>
                                {% endfor %}

                                <button class="btn btn-primary" name="button">Enregistrer le BC</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button style="margin-bottom: 20px;background-image: var(--bs-gradient);" type="button"
                    class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#saveformation">
                Créer une formation
            </button>
            <div class="modal fade" id="saveformation" tabindex="-1" aria-hidden="true"
                 aria-labelledby="saveformation">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Créer une formation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/save_formation" id="formulaire2" method="post">
                                <label class="form-label text-primary" for="activite2">Description du bon de commande
                                    :</label>
                                <input class="text-primary form-control" type="text" id="activite2" name="activite2"
                                       placeholder="Décrivez l'activité"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="com2">Commentaire :</label>
                                <input class="text-primary form-control" type="text" id="com2" name="com2">
                                <br>
                                <label class="form-label text-primary" for="anneeTarif2">Année :</label>
                                <input class="text-primary form-control" type="number" id="anneeTarif2"
                                       name="anneeTarif2" required="required">
                                <br>
                                <label class="form-label text-primary" for="hprojet">Formation hors projet :</label>
                                <select class="form-select bg-white text-primary" name="hprojet" id="hprojet">
                                    <option value="Oui">Oui</option>
                                    <option value="Non">Non</option>
                                </select>
                                <br>
                                <label class="form-label text-primary" for="nbjoursformation">Nombres de jours :</label>
                                <input class="text-primary form-control" type="number" step="0.5" id="nbjoursformation"
                                       name="nbjoursformation"
                                       required="required">
                                <br>
                                <select class="form-select bg-white text-primary" multiple name="collabs2"
                                        id="collabs2">
                                    {% for collab in collabs %}
                                    <option value={{collab.id_collab}}>{{collab.nom}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <button class="btn btn-primary " style="background-image: var(--bs-gradient);"
                                        name="button">Enregistrer la formation
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button style="margin-bottom: 20px; background-image: var(--bs-gradient);" type="button"
                    class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#saveautre">
                Créer une autre activité
            </button>
            <div class="modal fade" id="saveautre" tabindex="-1" aria-hidden="true"
                 aria-labelledby="saveautre">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Créer une autre activité</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/save_autre" id="formulaire3" method="post">
                                <label class="form-label text-primary" for="activite3">Description :</label>
                                <input class="text-primary form-control" type="text" id="activite3" name="activite3"
                                       required="required">
                                <br>
                                <label class="form-label text-primary" for="com3">Commentaire :</label>
                                <input class="text-primary form-control" type="text" id="com3" name="com3">
                                <br>
                                <label class="form-label text-primary" for="anneeTarif3">Année :</label>
                                <input class="text-primary form-control" type="number" id="anneeTarif3"
                                       name="anneeTarif3" required="required">
                                <br>
                                <label class="form-label text-primary" for="nbjoursautre">Nombre de jours :</label>
                                <input class="text-primary form-control" type="number" id="nbjoursautre"
                                       name="nbjoursautre" required="required">
                                <br>
                                <select class="form-select bg-white text-primary" multiple name="collabs3"
                                        id="collabs3">
                                    {% for collab in collabs %}
                                    <option value={{collab.id_collab}}>{{collab.nom}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <button class="btn btn-primary" name="button">Enregistrer l'activité</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="tableboncomm"
       style="margin-top :10px; margin-left:10px;margin-right:10px;margin-bottom:30px; text-align:center; table-layout: fixed;">


    <tr class="p-3 mb-2 bg-primary text-white" style="height:40px;background-image: var(--bs-gradient);">
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Activité
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Etat
        </td>
        <td style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Hors-Projet <br>(formations)
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Com
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Annee Tarif
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">CA
            Atos
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Jours alloués
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Délais (mois)
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Montant HT
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Part EGIS
        </td>
        <td width="130" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Numéro
        </td>
        <td width="80" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Poste
        </td>
        <td width="80" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Projet
        </td>
        <td width="65" style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            TJM
        </td>
        <td width="130" style="font-weight:bold; padding: 1px;">
            Collab
        </td>
    </tr>

    {% for activite in data_reste %}
    <tr>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].activite}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].etat}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].horsProjet}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].com}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].jourThq}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="80" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="80" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="65" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {% for collabs in
            activite[1] %} {{collabs.collab.nom}} <br> {% endfor %}
        </td>
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#modifetat{{activite[0].id_acti}}">Modifier l'état
            </button>
            <div class="modal fade" id="modifetat{{activite[0].id_acti}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="modifetat">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Modifier l'état de l'activité</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/modif_etat/{{activite[0].id_acti}}" method="post">
                                <label style="text-align: center; margin-bottom : 10px">Modifier l'état de l'activité
                                    :</label>
                                <select class="form-select bg-white text-primary" name="etat" id="etat">
                                    <option value="TE">Clôturé</option>
                                    <option value="">En cours</option>
                                </select>
                                <br>
                                <div class="text-danger" style="margin-bottom : 20px">Attention : ne passer le bon en TE
                                    qu'après avoir exporter les
                                    données du mois pour le voir apparaitre sur celles-ci !
                                </div>
                                <button name="button" class="btn btn-primary">Modifier l'état</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#effacer{{activite[0].id_acti}}">
                Effacer
            </button>
            <div class="modal fade" id="effacer{{activite[0].id_acti}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="effacerBC">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Effacer le BC</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label>Voulez-vous vraiment supprimer cette activité ?</label>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="/deleteactivite/{{activite[0].id_acti}}">Oui</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="/see_data_boncomm">Non</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    {% for activite in data_boncomm %}
    <tr>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].activite}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].etat}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].com}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].anneeTarif}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].caAtos}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].jourThq}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].delais}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].montantHT}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].partEGIS}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].num}}
        </td>
        <td width="80" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].poste}}
        </td>
        <td width="80" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].projet}}
        </td>
        <td width="65" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[0].tjm}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {% for collabs in
            activite[1] %} {{collabs.collab.nom}} <br> {% endfor %}
        </td>
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#modifetatBC{{activite[0].id_acti}}">Modifier l'état
            </button>
            <div class="modal fade" id="modifetatBC{{activite[0].id_acti}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="modifetat">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Modifier l'état de l'activité</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/modif_etat/{{activite[0].id_acti}}" method="post">
                                <label style="text-align: center">Modifier l'état de l'activité :</label>
                                <select class="form-select bg-white text-primary" name="etat" id="etatBC">
                                    <option value="TE">Clôturé</option>
                                    <option value="">En cours</option>
                                </select>
                                <br>
                                <button name="button" class="btn btn-primary">Modifier l'état</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#effacerBC{{activite[0].id_acti}}">
                Effacer
            </button>
            <div class="modal fade" id="effacerBC{{activite[0].id_acti}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="effacerBC">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Effacer le BC</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label>Voulez-vous vraiment supprimer ce BC ?</label>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="/deleteactivite/{{activite[0].id_acti}}">Oui</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="/see_data_boncomm">Non</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#modifBC{{activite[0].id_acti}}">Modifier
            </button>
            <div class="modal fade" id="modifBC{{activite[0].id_acti}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="modifBoncomm">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Modifier le bon</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/modif_activite/{{activite[0].id_acti}}" method="post">
                                <label for="activite">Activité :</label>
                                <input class="text-primary form-control" type="text" id="activite" name="activite">
                                <br>
                                <label for="com">Commentaire :</label>
                                <input class="text-primary form-control" type="text" id="com" name="com">
                                <br>
                                <label for="anneeTarif">Année tarifaire :</label>
                                <input class="text-primary form-control" type="number" id="anneeTarif" name="anneeTarif"
                                       value={{activite[0].anneeTarif}}>
                                <br>
                                <label for="caAtos">CA Atos :</label>
                                <input class="text-primary form-control" type="number" id="caAtos" name="caAtos"
                                       value={{activite[0].caAtos}}>
                                <br>
                                <label for="jourThq">Jours alloués théoriques :</label>
                                <input class="text-primary form-control" type="number" id="jourThq" name="jourThq"
                                       value={{activite[0].jourThq}}>
                                <br>
                                <label for="partGDP">Part GdP :</label>
                                <input class="text-primary form-control" type="number" id="partGDP" name="partGDP"
                                       value={{activite[0].partGDP}}>
                                <br>
                                <label for="delais">Délais :</label>
                                <input class="text-primary form-control" type="number" id="delais" name="delais"
                                       value={{activite[0].delais}}>
                                <br>
                                <label for="montantHT">Montant HT :</label>
                                <input class="text-primary form-control" type="number" id="montantHT" name="montantHT"
                                       value={{activite[0].montantHT}}>
                                <br>
                                <label for="partEGIS">Part EGIS :</label>
                                <input class="text-primary form-control" type="number" id="partEGIS" name="partEGIS"
                                       value={{activite[0].partEGIS}}>
                                <br>
                                <label for="num">Numéro :</label>
                                <input class="text-primary form-control" type="text" id="num" name="num">
                                <br>
                                <label for="poste">Poste :</label>
                                <input class="text-primary form-control" type="text" id="poste" name="poste">
                                <br>
                                <label for="projet">Projet :</label>
                                <input class="text-primary form-control" type="text" id="projet" name="projet">
                                <br>
                                <label for="tjm">TJM :</label>
                                <input class="text-primary form-control" type="number" id="tjm" name="tjm"
                                       value={{activite[0].tjm}}>
                                <br>
                                <select class="form-select bg-white text-primary" multiple name="collabs" id="collabs">
                                    {% for collab in collabs %}
                                    <option value={{collab.id_collab}}>{{collab.nom}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <label>Répartition des jours (pour les collaborateurs sélectionnés) :</label>
                                <br>
                                {% for collab in collabs %}
                                <label for="collabs">{{collab.nom}}</label>
                                <input class="text-primary form-control" type="number" step="0.5"
                                       id="jours{{collab.id_collab}}"
                                       name="jours{{collab.id_collab}}">
                                <br>
                                {% endfor %}
                                <br><br>
                                <button name="button" class="btn btn-primary">Modifier le bon</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[2].activite}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[2].etat}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[2].com}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[2].jourThq}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[2].delais}}
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[2].num}}
        </td>
        <td width="80" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[2].poste}}
        </td>
        <td width="80" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{activite[2].projet}}
        </td>
        <td width="65" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
        </td>
        <td width="130" class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {% for collabs in
            activite[3] %} {{collabs.collab.nom}} <br> {% endfor %}
        </td>
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="color: rgb(82,82,82) ;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#modifGDP{{activite[2].id_acti}}">Modifier
            </button>
            <div class="modal fade" id="modifGDP{{activite[2].id_acti}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="modifBoncomm">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Modifier le bon</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/modif_activite/{{activite[2].id_acti}}" method="post">
                                <label for="activite">Activité :</label>
                                <input class="text-primary form-control" type="text" id="activiteGDP" name="activite">
                                <br>
                                <label for="com">Commentaire :</label>
                                <input class="text-primary form-control" type="text" id="comGDP" name="com"
                                       value={{activite[2].com}}>
                                <br>
                                <label for="anneeTarif">Année tarifaire :</label>
                                <input class="text-primary form-control" type="number" id="anneeTarifGDP"
                                       name="anneeTarif"
                                       value={{activite[2].anneeTarif}}>
                                <br>
                                <label for="caAtos">CA Atos :</label>
                                <input class="text-primary form-control" type="number" id="caAtosGDP" name="caAtos"
                                       value={{activite[2].caAtos}}>
                                <br>
                                <label for="jourThq">Jours alloués théoriques :</label>
                                <input class="text-primary form-control" type="number" id="jourThqGDP" name="jourThq"
                                       value={{activite[2].jourThq}}>
                                <br>
                                <label for="partGDP">Part GdP :</label>
                                <input class="text-primary form-control" type="number" id="partGDPGDP" name="partGDP">
                                <br>
                                <label for="delais">Délais :</label>
                                <input class="text-primary form-control" type="number" id="delaisGDP" name="delais"
                                       value={{activite[2].delais}}>
                                <br>
                                <label for="montantHT">Montant HT :</label>
                                <input class="text-primary form-control" type="number" id="montantHTGDP"
                                       name="montantHT"
                                       value={{activite[2].montantHT}}>
                                <br>
                                <label for="partEGIS">Part EGIS :</label>
                                <input class="text-primary form-control" type="number" id="partEGISGDP" name="partEGIS"
                                       value={{activite[2].partEGIS}}>
                                <br>
                                <label for="num">Numéro :</label>
                                <input class="text-primary form-control" type="text" id="numGDP" name="num">
                                <br>
                                <label for="poste">Poste :</label>
                                <input class="text-primary form-control" type="text" id="posteGDP" name="poste">
                                <br>
                                <label for="projet">Projet :</label>
                                <input class="text-primary form-control" type="text" id="projetGDP" name="projet">
                                <br>
                                <label for="tjm">TJM :</label>
                                <input class="text-primary form-control" type="number" id="tjmGDP" name="tjm"
                                       value={{activite[2].tjm}}>
                                <br>
                                <select class="form-select bg-white text-primary" multiple name="collabs"
                                        id="collabsGDP">
                                    {% for collab in collabs %}
                                    <option value={{collab.id_collab}}>{{collab.nom}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <label>Répartition des jours (pour les collaborateurs sélectionnés) :</label>
                                <br>
                                {% for collab in collabs %}
                                <label for="collabs">{{collab.nom}}</label>
                                <input class="text-primary form-control" type="number" step="0.5"
                                       id="joursGDP{{collab.id_collab}}"
                                       name="jours{{collab.id_collab}}">
                                <br>
                                {% endfor %}
                                <br><br>
                                <button name="button" class="btn btn-primary">Modifier le bon</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>function calculjoursthq(){
                            var caAtos = parseFloat(document.getElementById("formulaire").elements["caAtosBC"].value);
                            var tjm = parseFloat(document.getElementById("formulaire").elements["tjmBC"].value);
                            var jAllouesThq= caAtos / tjm;
                            document.getElementById("formulaire").elements["jourThqBC"].value=jAllouesThq;
                            document.getElementById("formulaire").elements["partGDPBC"].value = jAllouesThq*0.2;}

         function nbJoursAllouables(){
            var joursThq = document.getElementById("formulaire").elements["jourThqBC"].value;
            var partGDP = document.getElementById("formulaire").elements["partGDPBC"].value;
            var joursAllouables = joursThq - partGDP;
            alert("Il y a " +joursAllouables+" jours à répartir");
            }



</script>
</body>
</html>