<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="C:\Users\a857591\Documents\Projet PyCharm\MyApp\static\atos.png"/>
    <a style=margin-left:1px;" class="navbar-brand" href="/">Accueil</a>
    <br>
    <meta charset="UTF-8">
    <title>Tableau des activités</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
{% block content %}
<br>
<table id="tableboncomm" style="width:45%; margin-left:10px;   text-align:center;   table-layout: fixed;">


    <tr style="height:40px;background-color:rgb(197,224,180); ">
        <td width="130" style="font-weight:bold; border: 1px solid black; padding: 1px;background-color:#CFE2FF;">
            Activité
        </td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Commentaire</td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Annee Tarif</td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">CA Atos</td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Jours Théoriques
            Alloués
        </td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Délais (mois)</td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Montant HT</td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Part EGIS</td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Numéro</td>
        <td width="80" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Poste</td>
        <td width="80" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Projet</td>
        <td width="65" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">TJM</td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Collaborateurs</td>
    </tr>

    {% for data in data%}

    <tr style="color: rgb(82,82,82) ;border-left: 1px solid black; border-right:1px solid;padding:15px;">
        <td width="130" style=" border-right:solid 1px black;">{{data[0].activite}}</td>
        <td width="130" style="border-right:solid 1px black;">{{data[0].com}}</td>
        <td width="130" style="" ...>{{data[0].anneeTarif}}</td>
        <td width="130" style="" ...>{{data[0].caAtos}}</td>
        <td width="130" style="" ...>{{data[0].jourThq}}</td>
        <td width="130" style="" ...>{{data[0].delais}}</td>
        <td width="130" style="" ...>{{data[0].montantHT}}</td>
        <td width="130" style="" ...>{{data[0].partEGIS}}</td>
        <td width="130" style="" ...>{{data[0].num}}</td>
        <td width="80" style="" ...>{{data[0].poste}}</td>
        <td width="80" style="" ...>{{data[0].projet}}</td>
        <td width="65" style="" ...>{{data[0].tjm}}</td>
        <td width="130" style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">{% for collabs in
            data[1] %} {{collabs.collab.nom}} <br> {% endfor %}
        </td>
        <td width="130" rowspan="1" style="border:1px solid black"><a
                href="/deleteactivite/{{data[0].id_acti}}">Effacer</a>
        </td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#modif{{data[0].id_acti}}">Modifier
            </button>
            <div class="modal fade" id="modif{{data[0].id_acti}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="modifBoncomm">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modifier le bon</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <a href="/deleteactivite/{{data[0].id_acti}}">Effacer</a>
                        </div>
                        <div class="modal-body">
                            <form action="/modif_activite/{{data[0].id_acti}}" method="post">
                                <label for="activite">Activité :</label>
                                <input type="text" id="activite" name="activite">
                                <br>
                                <label for="com">Commentaire :</label>
                                <input type="text" id="com" name="com">
                                <br>
                                <label for="anneeTarif">Année tarifaire :</label>
                                <input type="number" id="anneeTarif" name="anneeTarif" value={{data[0].anneeTarif}}>
                                <br>
                                <label for="caAtos">CA Atos :</label>
                                <input type="number" id="caAtos" name="caAtos" value={{data[0].caAtos}}>
                                <br>
                                <label for="jourThq">Jours alloués théoriques :</label>
                                <input type="number" id="jourThq" name="jourThq" value={{data[0].jourThq}}>
                                <br>
                                <label for="partGDP">Part GdP :</label>
                                <input type="number" id="partGDP" name="partGDP" value={{data[0].partGDP}}>
                                <br>
                                <label for="delais">Délais :</label>
                                <input type="number" id="delais" name="delais" value={{data[0].delais}}>
                                <br>
                                <label for="montantHT">Montant HT :</label>
                                <input type="number" id="montantHT" name="montantHT" value={{data[0].montantHT}}>
                                <br>
                                <label for="partEGIS">Part EGIS :</label>
                                <input type="number" id="partEGIS" name="partEGIS" value={{data[0].partEGIS}}>
                                <br>
                                <label for="num">Numéro :</label>
                                <input type="text" id="num" name="num">
                                <br>
                                <label for="poste">Poste :</label>
                                <input type="text" id="poste" name="poste">
                                <br>
                                <label for="projet">Projet :</label>
                                <input type="text" id="projet" name="projet">
                                <br>
                                <label for="tjm">TJM :</label>
                                <input type="number" id="tjm" name="tjm" value={{data[0].tjm}}>
                                <br>
                                <select multiple name="collabs" id="collabs">
                                    {% for collab in collabs %}
                                    <option value={{collab.id_collab}}>{{collab.nom}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <label>Répartition des jours (pour les collaborateurs sélectionnés) :</label>
                                <br>
                                {% for collab in collabs %}
                                <label for="collabs">{{collab.nom}}</label>
                                <input type="number" step="0.5" id="jours{{collab.id_collab}}"
                                       name="jours{{collab.id_collab}}">
                                <br>
                                {% endfor %}
                                <br><br>
                                <button name="button" class="btn btn-primary">Modifier le bon</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>