<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chrono APM</title>
    <link rel="shortcut icon" href="../static/atos-globe-blue-high-res.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/accueil_global"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Gestion de Projet MS4 SUPV</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_fd">FD</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_apm">APM</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_chrono_apm">Chrono APM</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_solde_atos">Solde réalisé Atos</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_solde_egis">Solde réalisé EGIS</a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
</head>
<body>
<h1 style="margin-bottom: 30px; text-align:center; margin-top: 30px;" class="text-primary">- Chrono des APM -</h1>
<div class="bg-light border border-3 border-primary rounded mt-2"
     style="margin: 20px; margin-right:20px; margin-bottom: 30px">
    <div style="margin-left: 20px">
        <h5 style="margin-top: 5px; text-align: center" class="text-primary">Tableau regroupant les différents
            déplacements effectués. <br> Vous pouvez modifier la marge libérée en cliquant sur le bouton en fin de
            ligne.
        </h5>
    </div>
</div>
<br>
<div align="center"><h3 class="text-primary" style="text-decoration: underline;">Description des APM :</h3></div>
<table id="tableau" align="center"
       style="margin-bottom: 30px; margin-top: 30px; text-align:center;   table-layout: fixed;">
    <tr class="p-3 mb-2" style="background-image: var(--bs-gradient);">
        <td></td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">N°APM</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">N°BC</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Poste</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Objet</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Début</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Fin</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Lieu</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Société</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Intervenant</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Client</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 3px;">Signature</td>
    </tr>
    {% for fd in dataToShow %}
    <tr class="p-3 mb-2" style="background-image: var(--bs-gradient);">
        <td class="bg-secondary text-white" style="border: 1px solid black; padding : 5px; font-weight: bold;">
            {{fd[0].num}}{{fd[0].poste}}{{fd[1].entreprise}}
        </td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[0].apm}}</td>
        <td class="bg-light" style=" border: 1px solid black; padding : 5px;">{{fd[0].num}}</td>
        <td class="bg-light" style=" border: 1px solid black; padding : 5px;">{{fd[0].poste}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[0].activite}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[0].dateDebut}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[0].dateFinOp}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[0].lieu}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[1].entreprise}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[2]}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[0].client}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[0].dateSign}}</td>
        <td class="bg-light" style="border: 1px solid black; padding: 5px;">
            <div align="center">
                <button style="background-image: var(--bs-gradient); border: 1px solid black; font-weight: bold;"
                        type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modifapm{{fd[0].id_acti}}">
                    Modifier
                </button>
                <div class="modal fade" id="modifapm{{fd[0].id_acti}}" tabindex="-1" aria-hidden="true"
                     aria-labelledby="modifapm{{fd[0].id_acti}}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white">
                                <h5 class="modal-title">Modifier l'APM</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/modif_apm/{{fd[0].id_acti}}" id="formulaire" method="post">
                                    <label class="form-label text-primary" for="apm">N°APM :</label>
                                    <input class="text-primary form-control" type="text" id="apm" name="apm"
                                           required="required" value="{{fd[0].apm}}">
                                    <br>
                                    <label class="form-label text-primary" for="num">N° du BC associé :</label>
                                    <input class="text-primary form-control" type="text" id="num" name="num"
                                           required="required" value="{{fd[0].num}}">
                                    <br>
                                    <label class="form-label text-primary" for="poste">Poste :</label>
                                    <input class="text-primary form-control" type="text" id="poste" name="poste"
                                           required="required" value="{{fd[0].poste}}">
                                    <br>
                                    <label class="form-label text-primary" for="activite">Objet du déplacement :</label>
                                    <input class="text-primary form-control" type="text" id="activite"
                                           name="activite" required="required" value="{{fd[0].activite}}">
                                    <br>
                                    <label class="form-label text-primary" for="debut">Date de début :</label>
                                    <input required="required" class="text-primary form-control" type="date"
                                           id="debut" name="debut" value="{{fd[0].dateDebut}}">
                                    <br>
                                    <label class="form-label text-primary" for="fin">Date de fin :</label>
                                    <input required="required" class="text-primary form-control" type="date"
                                           id="fin" name="fin" value="{{fd[0].dateFinOp}}">
                                    <br>
                                    <label class="form-label text-primary" for="lieu">Lieu :</label>
                                    <input class="text-primary form-control" type="text" id="lieu" name="lieu"
                                           required="required" value="{{fd[0].lieu}}">
                                    <br>
                                    <label class="form-label text-primary" for="client">Client :</label>
                                    <input class="text-primary form-control" type="text" id="client" name="client"
                                           required="required" value="{{fd[0].client}}">
                                    <br>
                                    <label class="form-label text-primary" for="signature">Date de signature :</label>
                                    <input required="required" class="text-primary form-control" type="date"
                                           id="signature" name="signature" value="{{fd[0].dateSign}}">
                                    <br>
                                    <label class="form-label text-primary" for="margeLib">Marge libérée :</label>
                                    <input class="text-primary form-control" type="number" step="0.1" id="margeLib"
                                           name="margeLib"
                                           required="required" value="{{fd[0].margeLib}}">
                                    <br>
                                    <label class="form-label text-primary" for="intervenant">Collaborateur concerné
                                        :</label>
                                    <br>
                                    <h6 class="text-danger">Ne pas être sélectionné si ne doit pas être modifié</h6>
                                    <select class="form-select bg-white text-primary"
                                            name="intervenant"
                                            id="intervenant">
                                        <option selected value="pasDeModif"></option>
                                        {% for collab in collabs %}
                                        <option name="{{collab.id_collab}}" value={{collab.id_collab}}>
                                            {{collab.nom}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <br>
                                    <button style="margin-top: 15px;" class="btn btn-primary" name="button">Enregistrer
                                        l'APM
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
<div align="center"><h3 class="text-primary" style="text-decoration: underline;">Associations aux UO :</h3></div>
<table id="tableau2" align="center"
       style="margin-bottom: 30px; margin-top: 30px; text-align:center;   table-layout: fixed;">
    <tr class="p-3 mb-2" style="background-image: var(--bs-gradient);">
        <td></td>
        {% for uo in uos %}
        <td class="bg-secondary text-white" style="font-weight: bold; border: 1px solid black; padding : 5px;">
            {{uo.num}}
        </td>
        {% endfor %}
    </tr>
    {% for fd in dataToShow %}
    <tr class="p-3 mb-2" style="background-image: var(--bs-gradient);">
        <td class="bg-secondary text-white" style="border: 1px solid black; padding:5px; font-weight: bold;">
            {{fd[0].num}}{{fd[0].poste}}{{fd[1].entreprise}}
        </td>
        {% for asso in fd[3] %}
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">
            {{asso.facteur}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<div align="center"><h3 class="text-primary" style="text-decoration: underline;">Notes de frais liées :</h3></div>
<table id="tableau3" align="center"
       style="margin-bottom: 30px; margin-top: 30px; text-align:center;   table-layout: fixed;">
    <tr class="p-3 mb-2" style="background-image: var(--bs-gradient);">
        <td></td>
        {% for ndf in ndfRef %}
        <td class="bg-primary text-white" style="font-weight: bold; border: 1px solid black; padding : 5px;">
            {{ndf.type}}
        </td>
        {% endfor %}
    </tr>
    {% for fd in dataToShow %}
    <tr class="p-3 mb-2" style="background-image: var(--bs-gradient);">
        <td class="bg-secondary text-white" style="border: 1px solid black; padding:5px;font-weight: bold;">
            {{fd[0].num}}{{fd[0].poste}}{{fd[1].entreprise}}
        </td>
        {% for ndf in fd[4] %}
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">
            {{ndf}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<div align="center"><h3 class="text-primary" style="text-decoration: underline;">Total :</h3></div>
<table id="tableau4" align="center"
       style="margin-bottom: 30px; margin-top: 30px; text-align:center;   table-layout: fixed;">
    <tr class="p-3 mb-2" style="background-image: var(--bs-gradient);">
        <td></td>
        <td class="bg-primary text-white" style="font-weight: bold; border: 1px solid black; padding : 5px;">Total Ndf
        </td>
        <td class="bg-secondary text-white" style="font-weight: bold; border: 1px solid black; padding : 5px;">Total
            UO
        </td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Dép.</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Marge lib.</td>
        <td class="bg-warning" style="font-weight: bold; border: 1px solid black; padding : 5px;">Cumul</td>
    </tr>
    {% for fd in dataToShow %}
    <tr class="p-3 mb-2" style="background-image: var(--bs-gradient);">
        <td class="bg-secondary text-white" style="border: 1px solid black; padding:5px; font-weight: bold;">
            {{fd[0].num}}{{fd[0].poste}}{{fd[1].entreprise}}
        </td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[5]}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[6]}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[6]-fd[5]}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[0].margeLib}}</td>
        <td class="bg-light" style="border: 1px solid black; padding : 5px;">{{fd[7]}}</td>
    </tr>
    {% endfor %}
</table>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>