<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/atos-globe-blue-high-res.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Chrono des FD</title>
    <nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Imputation MS4</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_uo">UO</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_ressources">Ressources</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_chronoBC">Chrono BC</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_chronoFD">Chrono FD</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_pdc">PdC</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_CRA">CRA Marché</a>
                </li>
            </ul>
            </ul>
        </div>
    </nav>
</head>
<body>
<div align="center">
    <h1 style="margin-bottom: 30px; text-align:center; margin-top: 30px;" class="text-primary">- Chrono des FD -</h1>
    <div class="bg-light border border-3 border-primary rounded mt-2"
         style="margin: 20px; margin-right:20px; margin-bottom: 30px">
        <div style="margin-left: 20px">
            <h5 style="margin-top: 5px; text-align: center" class="text-primary">Texte ici :
                vsgvziugfvqiuogvqsduifgbqsdgfqius
            </h5>
        </div>
    </div>
</div>
<div align="center">
    <table id="tableau"
           style="margin-left:20px; margin-right:20px;margin-top:20px; margin-bottom:20px;  text-align:center;   table-layout: fixed;">
        <tr class="p-3 mb-2 bg-primary text-white" style="background-image: var(--bs-gradient);">
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 10px;">
                Projet
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 1px;">
                BC
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 1px;">
                Activité
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 10px;">
                Poste
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 10px;">
                Notif
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 10px;">
                Part <br>ATOS
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 10px;">
                Part <br>EGIS
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 1px;">
                Total
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 1px;">
                Date <br>de <br>notif
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 1px;">
                Date <br>de<br> début
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 10px;">
                Délais
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 1px;">
                Date<br> de <br>fin prévue
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 1px;">
                Date<br> de <br>fin opérationnelle
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-right: 1px solid white; padding: 10px;">
                Facturation
            </td>
            <td style="font-weight:bold; margin-left: 20px; margin-right: 20px;border-right: 1px solid #0d6efd; padding: 10px;">
                Total obtenu par les UO
            </td>
        </tr>
        {% for fd in data_fds %}
        <tr class="p-3 mb-2 text-primary" style="background-image: var(--bs-gradient);">
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].projet}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].num}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].activite}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].poste}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].notification}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].caAtos}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].partEGIS}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].montantHT}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].dateNotif}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].dateDebut}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].delais}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].dateFinPrev}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].dateFinOp}}
            </td>
            <td style="margin-left: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; border-right: 1px solid #0d6efd; padding: 10px;">
                {{fd[0].facturation}}
            </td>
            <td style="margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-bottom: 1px solid #0d6efd; border-right: 1px solid #0d6efd; padding: 10px;">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            {{fd[1]}}
                        </div>
                        <div class="col-6">
                            <button style="background-image: var(--bs-gradient);" type="button"
                                    class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#repartition{{fd[0].id_acti}}">
                                Calculer
                            </button>
                            <div class="modal fade" id="repartition{{fd[0].id_acti}}" tabindex="-1"
                                 aria-hidden="true"
                                 aria-labelledby="calculerTot">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header bg-primary text-white">
                                            <h5 class="modal-title">Calculer le total par les UO</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/repartition_uoFD/{{fd[0].id_acti}}" method="post">
                                                <table align="center" style="margin-bottom:20px;">
                                                    {% for asso in fd[2] %}
                                                    <tr>
                                                        <td class="bg-primary text-white">
                                                            {{asso.uo.description}}
                                                        </td>
                                                        <td class="border border-primary">
                                                            <input class="text-primary" type="number" step="1"
                                                                   style="text-align:center;"
                                                                   name="facteur{{asso.uo.id_uo}}"
                                                                   value="{{asso.facteur}}">
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                                <button name="button" class="btn btn-primary">Calculer le total</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>