<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/atos-globe-blue-high-res.png"/>
    <nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Imputation MS4</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_archives">Données d'imputation</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_collab">Collaborateurs</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_boncomm">Activités</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_global">Imputations globales</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_conges">Congés</a>
                </li>
                {% for collab in data_navbar %}
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_collab/{{collab[1].id_collab}}/{{annee}}/{{mois}}">{{collab[0]}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Tableau des Collaborateurs</title>
</head>

<body>
{% block content %}
<div style="text-align:center; margin-top: 45px" class="title"><h1 class="text-primary">- Tableau des collaborateurs
    -</h1></div>
<br>
<div class="bg-light border border-3 border-primary rounded mt-2" style="margin-left: 20px; margin-right:20px">
    <div style="margin-left: 20px">
        <h5 style="margin-top: 5px" class="text-primary">Ce tableau contient la liste des collaborateurs, ainsi que
            leur niveau d'accès et les bons de commande sur lesquels ils imputent. <br>
            Pour modifier ou effacer un collaborateur, cliquer sur les boutons associés sur la ligne du collaborateur en
            question.
            <h5 class="text-danger">Attention : La suppression d'un collaborateur entraine la suppression de ses
                imputations
                sur ses bons de commande !</h5></h5>
    </div>
</div>
<h5 style="margin-left: 20px; margin-top: 30px" class="text-primary font-italic">Pour enregistrer un nouveau
    collaborateur, cliquer ici : </h5>
<button style="margin-top : -65px; margin-left : 39%;background-image: var(--bs-gradient);" type="button"
        class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#savecollab">
    Ajouter un collaborateur
</button>
<div class="modal fade" id="savecollab" tabindex="-1" aria-hidden="true"
     aria-labelledby="modifCollab">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Ajouter un collaborateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/save_collab" method="post">
                    <label class="form-label text-primary" for="nom_save">Nom :</label>
                    <input required="required" class="text-primary form-control" type="text" id="nom_save"
                           name="nom_save">
                    <br>
                    <label class="form-label text-primary" for="prenom_save">Prénom :</label>
                    <input required="required" class="text-primary form-control" type="text" id="prenom_save"
                           name="prenom_save">
                    <br>
                    <label class="form-label text-primary" for="access_save">Access :</label>
                    <select required="required" class="form-select bg-white text-primary" name="access_save"
                            id="access_save">
                        <option value="1">1 : Admin</option>
                        <option value="2">2 : Collaborateur MS4</option>
                        <option value="3">3 : Collaborateur hors MS4</option>
                        <option value="4">4 : Partis</option>
                    </select>
                    <br>
                    <label class="form-label text-primary" for="conges_save">Jours de congés :</label>
                    <input required="required" class="text-primary form-control" type="number" id="conges_save"
                           name="conges_save">
                    <br>
                    <button name="button" class="btn btn-primary">Ajouter ce collaborateur</button>
                </form>
            </div>
        </div>
    </div>
</div>


<table id="tableau" style="margin-top:20px;   text-align:center;   table-layout: fixed;" align="center">
    <tr class="p-3 mb-2 bg-primary text-white" style="height:20px;background-image: var(--bs-gradient);">
        <!-- tr : ligne / td : colonne -->
        <td style="font-weight:bold; border-right: 1px solid white; padding: 1px;">
            Nom
        </td>
        <td style="font-weight:bold;border-right: 1px solid white;">Prénom</td>
        <td style="font-weight:bold;border-right: 1px solid white; padding:10px">Access</td>
    </tr>

    {% for data in data %}

    <tr id="{{data[0].id_collab}}">
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="font-size: 20px;border-left: 1px solid ;vertical-align: middle; border-right:1px solid white;padding:15px;">
            {{data[0].nom}}
        </td>
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="font-size: 20px;border-left: 1px solid ; vertical-align: middle;border-right:1px solid white;padding:15px;">
            {{data[0].prenom}}
        </td>
        <td class="p-3 mb-2 bg-white text-primary border border-primary"
            style="font-size: 20px;border-left: 1px solid white; vertical-align: middle;border-right:1px solid white;padding:15px;">
            {{data[0].access}}
        </td>
        <td class="p-3 mb-2 text-secondary border border-primary" width="150"
            style="border: 1px solid white;vertical-align: middle;background-image: var(--bs-gradient);">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#effacer{{data[0].id_collab}}">
                Effacer
            </button>
            <div class="modal fade" id="effacer{{data[0].id_collab}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="effacerCollab">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Effacer le collaborateur</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="/deletecollab/{{data[0].id_collab}}">Oui</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="/see_data_collab">Non</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="p-3 mb-2 text-white border border-primary" width="150"
            style="border: 1px solid white;vertical-align: middle;background-image: var(--bs-gradient);">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#modif{{data[0].id_collab}}">
                Modifier
            </button>
            <div class="modal fade" id="modif{{data[0].id_collab}}" tabindex="-1" aria-hidden="true"
                 aria-labelledby="modifCollab">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title">Modifier le collaborateur</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/modif_collab/{{data[0].id_collab}}" method="post">
                                <label class="form-label text-primary" for="nom2">Nom :</label>
                                <input class="text-primary form-control" type="text" id="nom2" name="nom2"
                                       value="{{data[0].nom}}" required="required">
                                <br>
                                <label class="form-label text-primary" for="prenom2">Prénom :</label>
                                <input class="text-primary form-control" type="text" id="prenom2" name="prenom2"
                                       value="{{data[0].prenom}}" required="required">
                                <br>
                                <label class="form-label text-primary" for="access2">Access :</label>
                                <select class="form-select bg-white text-primary" name="access2" id="access2">
                                    <option selected value="{{data[0].access}}">Valeur actuellement sélectionné :
                                        {{data[0].access}}
                                    </option>
                                    <option value="1">1 : Admin</option>
                                    <option value="2">2 : Collaborateur MS4</option>
                                    <option value="3">3 : Collaborateur hors MS4</option>
                                    <option value="4">4 : Partis</option>
                                </select>
                                <br>
                                <label class="form-label text-primary" for="conges">Jours de congés :</label>
                                <input class="text-primary form-control" type="number" id="conges" name="conges"
                                       value="{{data[0].boncomms[0].boncomm.nbCongesTot}}" required="required">
                                <br>
                                <button name="button" class="btn btn-primary">Modifier le collaborateur
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<br>


{% endblock content %}
<script>
    function create_url(id_collab) {
        var id_annee = document.getElementById("choixAn");
        var annee = id_annee.options[id_annee.selectedIndex].value;
        var id_mois = document.getElementById("choixMois");
        var mois = id_mois.options[id_mois.selectedIndex].value;
        console.log(id_collab);
        console.log(mois);
        var url=`/see_imput_collab/${id_collab}/${annee}/${mois}`;
        console.log(url);
        document.formulaireDate.action = url;
	    document.forms["formulaireDate"].submit();
    }






























</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>