<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date</title>
</head>

<nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Imputation MS4</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_archives">Données d'imputation</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_collab">Collaborateurs</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_boncomm">Activités</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_global">Imputations globales</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_conges">Congés</a>
                </li>
                {% for collab in data_navbar %}
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_collab/{{collab[1].id_collab}}/{{annee}}/{{mois}}">{{collab[0]}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>

<body>
{% block content %}
<table id="tableau" style="width:45%; margin-left:10px;   text-align:center;   table-layout: fixed;">
    <tr style="height:40px;background-color:rgb(197,224,180); "> <!-- tr : ligne / td : colonne -->
        <td style="font-weight:bold; border: 1px solid black; padding: 1px;background-color:#CFE2FF;">Jour</td>
        <td style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Mois</td>
        <td style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Annee</td>
        <td style="font-weight:bold;border: 1px solid black;background-color:#CFE2FF">Pourcentage</td>
    </tr>

    {% for data3 in data3%}

    <tr style="color: rgb(82,82,82) ;border-left: 1px solid black; border-right:1px solid;padding:15px;">
        <td style=" border-right:solid 1px black;">{{data3.jour}}</td>
        <td style="border-right:solid 1px black;">{{data3.mois}}</td>
        <td style="" ...>{{data3.annee}}</td>
        <td style="" ...>{{data3.pourcentAn}}</td>
        {% endfor %}
</table>
{% endblock content %}
</body>
</html>