<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/atos-globe-blue-high-res.png"/>
    <nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Gestion de Projet MS4 SUPV</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_archives">Données d'imputation</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_collab">Collaborateurs</a>
                </li>
                <li class="list-inline-item">
                    <a data-bs-toggle="modal" data-bs-target="#scr" class="nav-link" href="/">SCR</a>
                </li>
                <div class="modal fade" id="scr" tabindex="-1" aria-hidden="true"
                     aria-labelledby="scr">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white">Choisissez les années à montrer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form style="text-align:center; margin: 20px " action="/see_scr" method="post">
                                    <label class="form-label text-primary" style="font-weight:bold;">Année
                                        début
                                        :</label>
                                    <select class="form-select bg-light text-primary" name="anneeD">
                                        <option value="2021">2021</option>
                                        <option selected value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>

                                    </select>
                                    <br>

                                    <label class="form-label text-primary" style="font-weight:bold;">Année
                                        fin
                                        :</label>
                                    <select class="form-select bg-light text-primary" name="anneeF">
                                        <option value="2021">2021</option>
                                        <option selected value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                    </select>
                                    <br>
                                    <button style="font-weight:bold;" align="center"
                                            class="btn border border-white btn-primary"
                                            name="button">Voir les SCR
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_boncomm">Activités</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_global">Imputations globales</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_conges">Congés</a>
                </li>
                {% for collab in data_navbar %}
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_collab/{{collab[1].id_collab}}/{{annee}}/{{mois}}">{{collab[0]}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
    <br>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Global</title>
</head>
<br>
<body>
{% block content %}
<div style="text-align:center" class="title"><h1 class="text-primary">- Suivi des imputations -</h1></div>
<br>
<div class="bg-light border border-3 border-primary rounded mt-2"
     style="margin-left: 20px; margin-right:20px; margin-bottom: 20px">
    <div style="margin-left: 20px">
        <h5 style="margin-top: 5px; text-align: center" class="text-primary">Ce tableau contient l'ensemble des bons de
            commande, avec le suivi de leur imputations. <br>
            Le détail de l'imputation de chaque collaborateur se trouve sur la droite du tableau.
            <h5 class="text-danger" style="text-align: center">Attention : vérifier l'imputation d'un bon de commande si
                son avancement excède 100 %</h5></h5>
    </div>
</div>
<table id="tableau"
       style="margin-top:50px;   text-align:center;   table-layout: auto;">
    <tr style="background-image: var(--bs-gradient);" class="bg-primary text-white">
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white; border-bottom: 1px solid white;">N°
        </td>
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white; border-bottom: 1px solid white;" width="10000px">
            Poste
        </td>
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white;border-bottom: 1px solid white;" width="10000px">
            Projet
        </td>
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white;border-bottom: 1px solid white;" width="10000px">
            Tâche
        </td>
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white; border-bottom: 1px solid white;">Jours
            Alloués
        </td>
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white; border-bottom: 1px solid white;">
            Progrés
        </td>
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white; border-bottom: 1px solid white;">RAF
        </td>
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white; border-bottom: 1px solid white;">Conso
        </td>
        {% for collab in collabs %}
        <td class="border-white"
            style="font-weight:bold; border-right: 1px solid white;border-bottom: 1px solid white;" width="10000px">
            <div width="10000px">{{collab.nom}}</div>
            <div width="10000px">A/C/RAF</div>
        </td>
        {% endfor %}
    </tr>

    {% for boncomm in boncomms %}
    <tr class="bg-warning" style="background-image: var(--bs-gradient);">
        <td style="border-left: 1px solid black;border-right: 1px solid black;border-bottom: 1px solid black; padding: 1px;"
            class="w-auto">
            {{boncomm[1].num}}
        </td>
        <td style="border-right: 1px solid black;border-bottom: 1px solid black; padding: 1px;">{{boncomm[1].poste}}
        </td>
        <td style="border-right: 1px solid black;border-bottom: 1px solid black; padding: 1px;">{{boncomm[1].projet}}
        </td>
        <td style="border-right: 1px solid black;border-bottom: 1px solid black; padding: 1px;">commande -
            {{boncomm[1].activite}}
        </td>
        <td style="border-right: 1px solid black;border-bottom: 1px solid black; padding: 1px;">{{boncomm[1].jourThq +
            boncomm[2].jourThq}}
        </td>
        <td style="border-right: 1px solid black;border-bottom: 1px solid black; padding: 1px;"></td>
        <td style="border-right: 1px solid black;border-bottom: 1px solid black; padding: 1px;">
            {{valeursBoncomms[boncomm[0]][3] +
            valeursBoncommsGDP[boncomm[0]][3]}}
        </td>
        <td style="border-right: 1px solid black;border-bottom: 1px solid black; padding: 1px;">
            {{valeursBoncomms[boncomm[0]][4] +
            valeursBoncommsGDP[boncomm[0]][4]}}
        </td>
        {% for i in range(nbCollab) %}
        <td style="border-right: 1px solid black;border-bottom: 1px solid black;" width="10000px">
            <div class="container">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4" style="border-right: 1px solid black"></div>
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
    <tr class="text-primary" style="border-bottom: 1px solid black">
        <td style="border-left:solid 1px black">{{boncomm[1].num}}</td>
        <td style="border-left:solid 1px black;">{{boncomm[1].poste}}</td>
        <td style="border-left:solid 1px black;">{{boncomm[1].projet}}</td>
        <td style="border-left:solid 1px black;">{{boncomm[1].activite}}</td>
        <td style="border-left:solid 1px black;">{{boncomm[1].jourThq}}</td>
        <td id="avanc{{boncomm[0]}}" style="border-left:solid 1px black;">{{valeursBoncomms[boncomm[0]][2]}}
            %
        </td>
        <td style="border-left:solid 1px black;">{{valeursBoncomms[boncomm[0]][3]}}</td>
        <td style="border-left:solid 1px black;border-right:solid 1px black">{{valeursBoncomms[boncomm[0]][4]}}</td>
        {% for i in range(nbCollab) %}
        <td style="border-right:solid 1px black;">
            <div class="container">
                <div class="row">
                    <div class="col-4" style="border-right:solid 1px black; padding-left:3px;">
                        {{data_bon[boncomm[0]][i][0]}}
                    </div>
                    <div class="col-4" style="border-right:solid 1px black;padding-left:3px;">
                        {{data_bon[boncomm[0]][i][1]}}
                    </div>
                    <div class="col-4" style="padding-left:3px;">{{data_bon[boncomm[0]][i][2]}}</div>
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
    <tr class="text-primary" style="border-bottom:solid 1px black">
        <td style="border-left:solid 1px black">{{boncomm[2].num}}</td>
        <td style="border-left:solid 1px black">{{boncomm[2].poste}}</td>
        <td style="border-left:solid 1px black">{{boncomm[2].projet}}</td>
        <td style="border-left:solid 1px black">{{boncomm[2].activite}}</td>
        <td style="border-left:solid 1px black">{{boncomm[2].jourThq}}</td>
        <td id="avancGDP{{boncomm[0]}}" style="border-left:solid 1px black">
            {{valeursBoncommsGDP[boncomm[0]][2]}} %
        </td>
        <td style="border-left:solid 1px black">{{valeursBoncommsGDP[boncomm[0]][3]}}</td>
        <td style="border-left:solid 1px black;border-right:solid 1px black">{{valeursBoncommsGDP[boncomm[0]][4]}}</td>
        {% for i in range(nbCollab) %}
        <td style="border-right:solid 1px black;">
            <div class="container">
                <div class="row">
                    <div class="col-4" style=" border-right:solid 1px black;padding-left:3px;">
                        {{data_bonGDP[boncomm[0]][i][0]}}
                    </div>
                    <div class="col-4" style=" border-right:solid 1px black;padding-left:3px;">
                        {{data_bonGDP[boncomm[0]][i][1]}}
                    </div>
                    <div class="col-4" style="padding-left:3px;">{{data_bonGDP[boncomm[0]][i][2]}}</div>
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
<script>
    var tr = document.getElementById("tableau").getElementsByTagName("tr");
    var nbBon = (tr.length - 1)/3;
    for(let i =0; i < nbBon; i++){
        var id = "avanc"+i;
        var idGDP = "avancGDP"+i;
        var avancement = parseInt(document.getElementById(id).innerText);
        var avancementGDP = parseInt(document.getElementById(idGDP).innerText);
        if (avancement > 100){
            document.getElementById(id).style.backgroundColor = "#A90000";
            document.getElementById(id).style.color = "white";
        }
        if (avancementGDP > 100){
            document.getElementById(idGDP).style.backgroundColor = "#A90000";
            document.getElementById(idGDP).style.color = "white";
        }
    }

</script>
</body>
{% endblock content %}
</html>