<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCR</title>
    <link rel="shortcut icon" href="../static/atos-globe-blue-high-res.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <nav class="bg-light" style="border-bottom : 2px solid #0d6efd">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold" href="/"><span
                    class="bg-primary bg-gradient p-1 rounded-3 text-light">Atos</span> Gestion de Projet MS4 SUPV</a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_archives">Données d'imputation</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_collab">Collaborateurs</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_scr">SCR</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_data_boncomm">Activités</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_global">Imputations globales</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_conges">Congés</a>
                </li>
                {% for collab in data_navbar %}
                <li class="list-inline-item">
                    <a class="nav-link" href="/see_imput_collab/{{collab[1].id_collab}}/{{annee}}/{{mois}}">{{collab[0]}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
</head>
<body>
<h1 style="margin-bottom: 30px; text-align:center; margin-top: 30px;" class="text-primary">- Tableau des SCR -</h1>
<div class="bg-light border border-3 border-primary rounded mt-2"
     style="margin: 20px; margin-right:20px; margin-bottom: 30px">
    <div style="margin-left: 20px">
        <h5 style="margin-top: 5px; text-align: center" class="text-primary">Tableau regroupant les différents SCR<br>Vous
            pouvez
            ajouter un nouveau SCR en cliquant sur le bouton associé.
        </h5>
    </div>
</div>
<div style="text-align:center">
    <button style="background-image: var(--bs-gradient);" type="button"
            class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#savescr">
        Ajouter un SCR
    </button>
    <div class="modal fade" id="savescr" tabindex="-1" aria-hidden="true"
         aria-labelledby="savescr">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Ajouter un SCCR</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/save_scr" method="post">
                        <label class="form-label text-primary" for="cout">Coût :</label>
                        <input required="required" class="text-primary form-control" type="number" step="0.1"
                               id="cout" name="cout">
                        <br>
                        <label class="form-label text-primary" for="ponderation">Pondération :</label>
                        <input required="required" class="text-primary form-control" type="number" step="0.5"
                               id="ponderation" name="ponderation">
                        <br>
                        <button name="button" class="btn btn-primary">Ajouter cette UO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table id="tableau" align="center"
       style=" margin-top:20px; margin-bottom:20px;  text-align:center;   table-layout: fixed;">
    <tr class="p-3 mb-2 bg-primary text-white" style="background-image: var(--bs-gradient);">
        <td style="font-weight:bold; margin-left: 20px; margin-right: 20px; border-left: 1px solid #0d6efd; border-right: 1px solid white; padding: 1px;">
            SCR
        </td>
        <td style="font-weight:bold; border-right: 1px solid white; padding: 1px;">Coût</td>
        <td style="font-weight:bold; border-right: 1px solid white;padding: 1px;">
            Pondération
        </td>
        <td style="font-weight:bold; border-right: 1px solid #0d6efd;padding: 1px;">
            Collaborateurs <br> liés
        </td>
    </tr>
    {% for scr in scrs %}
    <tr style="border-bottom : 1px solid#0d6efd">
        <td class="text-primary" style="border-left: 1px solid #0d6efd; padding: 20px;">{{scr.id_scr}}</td>
        <td class="text-primary" style="border-left: 1px solid #0d6efd; padding: 20px;">{{scr.cout}}</td>
        <td class="text-primary" style="border-left: 1px solid #0d6efd;border-right: 1px solid #0d6efd; padding: 20px;">
            {{scr.ponderation}}
        </td>
        <td class="text-primary" style="border-left: 1px solid #0d6efd; padding: 20px;">{% for asso in scr.collabs
            %}{{asso.collab.nom}}<br>{% endfor %}
        </td>
        <td style="padding: 5px; border: 1px solid #0d6efd"><a name="button" class="btn btn-primary"
               href="/see_add_scr_collab/{{scr.id_scr}}">Attribuer ce SCR</a></td>
    </tr>
    {% endfor %}
</table>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>